.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 103px - 2rem);
  margin: auto;
  padding: 1rem;
}