@import "./styles/constants";

.video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .video-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      color: $light-secondary;
    }
  }

  & > div {
    display: flex;
    align-items: center;

    &.no-overflow {
      max-width: 30rem;
      overflow: hidden;
    }

    & > * {
      margin-right: 1rem !important;
    }
  }
}