@import "./styles/constants";

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      color: $light-secondary;
    }
  }

  .status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $grey;

    &.online {
      background-color: $color-primary;
    }
  }

  & > div {
    display: flex;
    align-items: center;

    &.no-overflow {
      max-width: 30rem;
      overflow: hidden;
    }

    & > * {
      margin-right: 1rem !important;
    }
  }
}

.center {
  text-align: center;
}