$dark-primary: #252525;
$dark-secondary: darken($dark-primary, 5);
$light-primary: #d5d5d5;
$light-secondary: lighten($light-primary, 10);
$grey: #777;
$color-primary: #3ba55c;
$color-secondary: darken($color-primary, 10);
$error: #ff3042;