.content {
  display: flex;
  align-items: center;
  height: calc(100vh - 54px - 2rem);

  .player-container {
    width: calc(100vw - 41rem);
    height: calc((100vw - 41rem) * 9 / 16);
    margin: 3rem;
  }
}