@import "./styles/constants";

.content {
  display: flex;
  height: calc(100vh - 54px - 2rem);

  .player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 35rem);
    height: 100%;
  }
}

.sidebar {
  width: 35rem;
  height: 100%;
  background-color: $dark-secondary;
}